.w1-animate-right-slow {
    position: relative;
    animation: animateright 3.0s
   

}

.w1-animate-left-slow {
    position: relative;
    animation: animateleft 3.0s
}

.w1-animate-top-slow {
    position: relative;
    animation: animatetop 3.0s
}

.w1-animate-bottom-slow {
    position: relative;
    animation: animatebottom 4.0s
}

